html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    padding-top: 80px; /* Asegura que el body ocupe todo el espacio disponible */
}

.container {
    flex: 1; /* Asegura que el contenido ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Asegura que la sección principal ocupe el espacio disponible */
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer h5 {
    color: #af0b0b;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.app-icons img {
    width: 150px;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: #af0b0b;
}

/* Navbar */
#navBar-placeholder {
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbarMenu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #af0b0b;
    color: #f5f5f5; 
    display: flex;
    align-items: center;
    height: 70px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    padding: 0 20px; 
    box-sizing: border-box; 
}

#navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}

ul .nav-Items {
    font-size: 18px; 
    padding: 0.5vh 1.5vw; 
}

.links-Navbar {
    color: #f5f5f5; 
    text-decoration: none;
}

.nav-right {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 80px; /* Espacio debajo de la navbar */
}

#cart-items {
    max-width: 600px;
    margin: 20px auto;
    background: #f8f8f8; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cart-item {
    padding: 15px;
    border-bottom: 1px solid #eaeaea; /* Separador entre items */
}

.cart-item:last-child {
    border-bottom: none; /* Sin borde en el último item */
}

.cart-item h2 {
    margin: 0;
    font-size: 1.5rem; /* Tamaño de fuente más grande */
}

.cart-item p {
    margin: 5px 0; /* Espaciado entre líneas */
    font-size: 1rem; /* Tamaño de fuente regular */
    color: #333; /* Color de texto */
}
