/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; 
    color: #e0e0e0; 
    margin: 0;
    padding: 0;
}

/*---------------------------------------carousel-----------------------*/
.d-item {
    height: 100vh;
}

.d-img {
    height: 100%;
    object-fit: cover; 
}

#carousel-info {
    z-index: 1;
    position: absolute;
    margin-top: 25vh; 
    margin-left: 5vw;
    padding: 20px;
}

#corouselTitle {
    font-size: 3em;
    font-weight: bold;
    color: #af0b0b; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.text-carousel {
    font-size: 1.2em; 
    color: #e0e0e0; 
    padding-right: 50%; 
}

#carousel-btn {
    font-size: 18px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #af0b0b; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#slidebuttonantes, #slidebuttondespues {
    margin: 0;
    width: 80px;
}

#carousel-btn:hover {
    background-color: #af0b0b; 
    transform: scale(1.07);
}

@media (max-width: 500px) {
    .d-item {
        height: 80vh;
    }

    #carousel-info {
        margin-top: 50%;
        margin-left: 7vw;
    }

    #corouselTitle {
        font-size: 2em;
    }
    
    .text-carousel {
        font-size: 0.8em; 
        padding-right: 30%;
    }
    
    #carousel-btn {
        font-size: 13px;
        padding: 10px 15px;
    }
}
.vistas{
    padding: 3px 3px 3px 3px;
    margin: 5px;
    border: solid 1px #1a1a1a;
    text-align: center;
    background-color: crimson;
}